/*Main HTML Stylesheet*/
html{
	font-family: sans-serif;
}

/*div{
	background:white;
}*/

/********* NavBar Section **********/
.navbar {
    overflow: hidden;
	background-color:#B597C3;
}

/* links inside the navigation bar */
.navbar li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: .625em 5em;
    text-decoration: none;
    font-size: 17px;
}

/* color of links on hover */
.navbar a:hover {
	color:#ffffff;
	text-decoration: underline;
	
}

.navbar a.active {
	text-decoration:underline;
}
/* Drop Down Items */
.dropdown-btn {
	float:left;
	font-size: 1.0625em;
	color:white;
	border: none;
	cursor: pointer;
	overflow:hidden;

}
.dropdown{

	display: inline-block;
	
}
.dropdown-items{
	position:absolute;
    display: none;
	margin:0;
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	

}
.dropdown-items a {
	
	color:white;
    padding: 12px 50px;
    text-decoration: none;
    display: block;

}


.dropdown:hover .dropdown-items {
    display: block;
}




/********* NavBar Section **********/