h2{
  color:black !important;
}

/********* NavBar Section **********/

.navbar {
  background-color: #B597C3;  
}
#nav-item li:hover{
color:white;
text-decoration: underline;
}

/* links inside the navigation bar */

.navbar li {
  float: left;
  display: inline;
  color: white !important;
  text-align: center;
  padding: 10px 120px 0px 0px;
  text-decoration: none;
  font-size: 17px;
}


/* color of links on hover */
.navbar a {
  color: white;
}


/* Drop Down Items */

.dropdown-btn {
  font-size: 1.0625em;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  float:left;
  display: block;
  position:initial !important;
  height:60px;

}

.dropdown-items {
  float:left;
  position: absolute;
  display: none;
  margin: 0;


}

.dropdown-items a {
  color: white;
  padding: 0px 15px 30px 0px;

  display: block;
}
.dropdown-items li a{
  color:#7F3F98;
}
.dropdown-items:hover{
  color:#7F3F98;
}

.dropdown:hover .dropdown-items {
  display: block;
  color: #7F3F98 !important;
  text-decoration: underline;
  box-shadow: 0px 8px 16px 0px #D1D3D4;
  margin-top:25px;
  text-align: left;
}
